.main {
  margin: 10px 10px;
  width: 250px;
}

#upload-label {
  display: block;

  border: 1px solid #ced4da;
  border-radius: .25rem;
  padding: 6px 10px;

  font-size: .875rem;

  color: #495057;
  background-color: #fff;
  
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

  cursor: pointer;
}

#upload-label:hover {
  border-color: #80bdff;

  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

#upload-input {
  display: block;

  position: absolute;
  z-index: -1;
  
  width: 0;
  height: 0;
  
  opacity: 0;
}

#parse-result-div{
    margin-top: 10px;
}

@keyframes progress-bar-run {
  0% {
    width: 0;
  }
  30% {
    width: 30%;
  }
  100% {
    width: 100%;
  }
}
